%intro-headline, %intro-byline, %intro-name, %intro-roles, 
%section-header, 
%copy, 
%post-title {
	font-family: $font-primary;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%intro-headline {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 40px;
}

%intro-byline {
	font-size: 16px;
	text-transform: lowercase;
	line-height: 20px;
}

%intro-name {
	font-size: 2.7rem;
	text-transform: uppercase;
	line-height: 50px;
	text-align: right;
}

%intro-roles {
	@extend %intro-byline;
	text-align: center;
}

%section-header {
	font-family: $font-primary;
	font-size: 96px;
	line-height: 50px;
	text-transform: uppercase;
	margin-right: -1.8rem;
}

%copy {
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}

%post-title {
	font-size: 36px;
	line-height: 45px;
	text-transform: uppercase;
}

%post-subtitle {
	font-family: $font-primary;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: .10rem;
}

%body-copy {
	font-family: $font-secondary;
	font-size: 18px;
	font-weight: 600;
	:global(strong) {
		font-weight: bolder;
		color: $nyc-red;
	}
}

%blurb-header {
	font-family: $font-primary;
	font-size: 4em;
	font-weight: 700;
	letter-spacing: -0.04em;
	line-height: 1em;
}
