	/* COLORS */
	$primary-black: #000000;
	$primary-white: #fff;
	$primary-gray: #9c9c9c;

	/* THEME COLORS */
	$nyc-red: #EE352E;
	$nyc-orange: #ff7f07;
	$nyc-stop-active: #FFC70E;
	$nyc-metrocard-blue: #005DAA;

	/* TYPOGRAPHY */
	$font-primary: -apple-system, "Helvetica Neue", "Helvetica", "Arial", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
	// $font-primary:'Arimo', sans-serif;
	$font-secondary:'Courier Prime', monospace;
	$font-serif: 'Tinos', serif; 

	/* DEPTH */
	$depth-layout: 10;

	/* GLOBAL PADDING */
	$mobile-padding: 0 0.8rem 0 0.8rem;